<!doctype html>
<html lang="en" ng-app="todomvc" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<link rel="stylesheet" href="main.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<section id="todoapp" ng-controller="TodoCtrl">
			<header id="header">
				<h1>todos</h1>
				<form id="todo-form" ng-submit="addTodo()">
					<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
				</form>
			</header>
			<section id="main" ng-show="todos.length" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label ng-show='!todo.urlTitle' ng-dblclick="editTodo(todo)">{{todo.title}}
							</label>
							<a href='{{todo.title}}'><p>{{todo.urlTitle}}</p></a>
							<img ng-show='todo.urlImage' src='{{todo.urlImage}}'/>
							<iframe ng-show='todo.video_id' id="{{$index}}" type="text/html" width="480" height="270"
						  src="http://www.youtube.com/embed/{{todo.video_id}}"
						  frameborder="0"></iframe>
							<!-- <div id='player'></div> -->
								<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
						    <!-- <div id="player"></div> -->
						    
								<!-- <iframe id="ytplayer" type="text/html" width="320" height="180"
								  src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1"
								  frameborder="0"/> -->
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
						<form ng-submit="doneEditing(todo)">
							<input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
						</form>
					</li>
					<!--<script>
						      // 2. This code loads the IFrame Player API code asynchronously.
						      var tag = document.createElement('script');

						      tag.src = "https://www.youtube.com/iframe_api";
						      var firstScriptTag = document.getElementsByTagName('script')[0];
						      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

						      // 3. This function creates an <iframe> (and YouTube player)
						      //    after the API code downloads.
						      

						      
						      
						    </script>
						  -->
				</ul>
			</section>
			<footer id="footer" ng-show="todos.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Credits:
				<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
				<a href="http://ericbidelman.com">Eric Bidelman</a>,
				<a href="http://jacobmumm.com">Jacob Mumm</a> and
				<a href="http://igorminar.com">Igor Minar</a>
			</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/services/todoStorage.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoBlur.js"></script>
		<script src="js/directives/todoEscape.js"></script>
    
		<script>

   //    function onYouTubeIframeAPIReady() {
			// 	players['one'] = new YT.Player('player', {
		 //      height: '270',
		 //      width: '480',
		 //      videoId: 'zlwUB4lisyk',
		 //      playerVars: { 'autoplay': 0 },
		 //      events: {
		 //        'onReady': onPlayerReady,
		 //        'onStateChange': onPlayerStateChange
		 //      }
		 //    });
			// };
      // var tag = document.createElement('script');

      // tag.src = "https://www.youtube.com/iframe_api";
      // var firstScriptTag = document.getElementsByTagName('script')[0];
      // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // var players = {};
      // function onPlayerReady(event) {
      //   event.target.playVideo();
      // }
      // var done = false;
      // function onPlayerStateChange(event) {
      //   if (event.data == YT.PlayerState.PLAYING && !done) {
      //     setTimeout(stopVideo, 6000);
      //     done = true;
      //   }
      // }
      // function stopVideo() {
      //   player.stopVideo();
      // }
    </script>
	</body>
</html>
